<div class=" ">

<form action="javascript:void(0)" [formGroup]="userForm" (ngSubmit)="send()" class="w-[25rem] h-fit ml-auto mr-auto mt-5">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label for="fullName" class="text-sm font-bold">Full Name:</label>
      <input id="fullName" type="text" formControlName="fullName" class="border rounded-md p-2" placeholder="Enter your full name" />
    </div>
    <div class="flex flex-col gap-2">
      <label for="email" class="text-sm font-bold">Email Address:</label>
      <input id="email" type="email" formControlName="email" class="border rounded-md p-2" placeholder="Enter your email address" />
    </div>
    <div class="flex flex-col gap-2">
      <label for="subject" class="text-sm font-bold">Subject:</label>
      <input id="subject" type="text" formControlName="subject" class="border rounded-md p-2" placeholder="Enter your subject" />
    </div>
    <div class="flex flex-col gap-2">
      <label for="message" class="text-sm font-bold">Message:</label>
      <textarea id="message" formControlName="message" class="border rounded-md p-2 resize-none" placeholder="Enter your message"></textarea>
    </div>
    <button type="submit" [disabled]="!userForm.valid" class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-700 border-none transition-all">Submit</button>
  </div>
</form>
</div>
